<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="icon" href="../imgs/icon.png">
    <link href="../css/errStyle.css" rel="stylesheet" type="text/css"/>
    <link href="../css/favStyles.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</head>
<body bgcolor="white">
<!-- TOP border -->
<div id="banner">
    <div id="current-user"><h2 id="welcome-user-msg"></h2></div>
    <p id="title" class="texts"><img id="titleLogo" src="../imgs/logo.png"></p>
</div>

<!-- THE ACTUAL PAGE -->
<div id="big-page-div">
    <img id="bg-img" src="../imgs/bg3.jpeg">
    <div id="welcome-div">
        <p id="welcome-msg"> Oh no! <br><br> You seem to be lost. <br>
            Click the button below to login.
        </p>
        <img id="err-img" src="../imgs/error_img.png">
        <form method="get" action="/">
            <button id="backbutt">Back</button>
        </form>
    </div>
</div>

<script src="../js/utils.js"></script>
</body>
</html>

