<!DOCTYPE html>

<html>

<head>
	<title>error</title>
	<link href="../css/style2.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<!-- TOP border -->
	<div id="banner" >
		<img id="logo" src="../imgs/pusheats.png">
		<p id="title" class="texts" ><span><u>PUSHEEN EATS</u></span></p>
	</div>

	<!-- THE ACTUAL PAGE -->
	<div id="big-page-div">
		<img id="bg-img" src="../imgs/bg.jpg">
		<div id="err-div">
			<p id="err-msg"> An error 404 has occured! <br><br> Page not found.</p>
			<img id="error-img" src="../imgs/pg_not_found.png">
		</div>
	</div>

	<script src="../js/displays.js"></script>
</body>

</html>