<!DOCTYPE html>
<html>

<head>
    <title> Recipes! </title>
</head>

<body>

<h2>Welcome to Recipes!</h2>
<button onclick="login()"> Login </button>
<button onclick="register()"> Register </button>
    <p> Log-in </p>
    <form action="/getpass" method="get">
    Username: <input type="text" name="username"><br>
    Password: <input type="password" name="password"> <br>
    <input type="submit" value="Submit">
    </form>

    <p> Register </p>
    <form action="/registerchef" method="post">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"> <br>
    <input type="submit" value="Submit">

<script>
currentSavedUsers = JSON.parse(localStorage.getItem("users"));
currentUsers = currentSavedUsers ? currentSavedUsers : [];

currentSavedPasswords = JSON.parse(localStorage.getItem("passwords"));
currentPasswords = currentSavedPasswords ? currentSavedPasswords : [];

function saveUsers(user, pass) {
    localStorage.setItem(JSON.stringify(user), JSON.stringify(pass));
}

function savePasswords() {
    localStorage.setItem("passwords", JSON.stringify(currentPasswords));
}

function register() {
    var name = prompt("Please enter the name you wish to login with: ")
    var password = prompt("Please enter your password: ")
    currentUsers.push(name, password);
    currentPasswords.push(password);

    saveUsers(name, password);
    savePasswords();
}

function login() {
    var username = prompt("Please enter your username:");
    if (currentUsers.indexOf(username) > -1) {
        console.log("useris " + username)

        var password = prompt("Please enter your password:");
            userpass = localStorage.getItem()
            console.log("user prompted password is " + password);
            console.log("stored password is " + userpass);
            if (userpass == password) {
                window.open('recipes')
            }
            else {
                alert('Invalid Username and Password');
            }
        }
    else {
        alert('Invalid Username');
    }
}


</script>
</body>

</html>