<!DOCTYPE html>
<html>
    <head>
        <title> Recipes! </title>
        <link rel="icon" href="icon.png">
        <link href="style.css" rel="stylesheet" type="text/css" />
        <link href="loginStyle.css" rel="stylesheet" type="text/css" />        
    </head>

    <body>
        <div id="banner" >
            <img id="titleLogo" src="logo.png">
            <img id="logo" src="pusheats.png"> 
        </div>


        <div id="mainbod">
            <button onclick="login()" class="mainbutt"> Login </button>
            
            <div id='loginform' class="forms">
                <br>
                <form action="/getpass" method="post" id='credentialsForm'>
                    Username: <input type="text" name="username"><br>
                    Password: <input type="password" name="password"><br>
                    <div class="submitBox">
                        <button onclick="submitCredentials({{usernameDoesNotExist}})" class="submitButton">Submit</button>
                    </div>
                </form>
            </div>

            <br><br>
            <button onclick="register()" class="mainbutt"> Register </button>

            <div id='registerform' class="forms">
                <br>
                <form action="/registerchef" method="post" id='newRegister' >
                    Username: <input type="text" name="username"><br>
                    Password: <input type="password" name="password"><br>
                    <div class="submitBox">
                        <button type="submit" value="Submit" class="submitButton">Create</button>
                    </div>
                </form>
            </div>
        </div>

        <script>
        </script>
        <script src="login.js"></script>
    </body>
</html>