<!DOCTYPE html>
<html>

<head>
    <title> Recipes! </title>
    <link rel="icon" href="icon.png">
    <link href="style.css" rel="stylesheet" type="text/css" />
    <style>
       #registerform {display:none;}
       #loginform {display:none;}
    </style>
</head>

<body>

    <div id="banner" >
        <img id="logo" src="pusheats.png"> 
        <p id="title" class="texts" ><span><u>PUSHEEN EATS</u></span></p>
    </div>


<div id="mainbod">
    <button onclick="login()" class="mainbutt"> Login </button>
    <button onclick="register()" class="mainbutt"> Register </button>
    
    <div id='loginform' class="mainbutt" style="margin: auto;">
        <h3> Log-in </h3>
        <form action="/getpass" method="post" id='credentialsForm'>
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"> <br>
        <button onclick="submitCredentials({{usernameDoesNotExist}})"> Submit </button>
        </form>
    </div>

    <div id='registerform' >
        <h3> Register </h3>
        <form action="/registerchef" method="post">
            Username: <input type="text" name="username"><br>
            Password: <input type="password" name="password"> <br>
        <button type="submit" value="Submit">Submit</form>
    </div>
</div>

<script>

function register() {
    document.getElementById('registerform').style.display="block";
}

function login() {
    document.getElementById('loginform').style.display="block";
}

function submitCredentials(usernameDoesNotExist) {
    if (usernameDoesNotExist) {
        alert('Username does not exist!');
    } else {
        document.getElementById('credentialsForm').submit();
    }
}


</script>
</body>

</html>