<!DOCTYPE html>
<html>

<head>
    <title> Recipes! </title>
    <style>
       #registerform {display:none;}
       #loginform {display:none;}
    </style>
</head>

<body>

<h2>Welcome to Recipes!</h2>
<button onclick="login()"> Login </button>
<button onclick="register()"> Register </button>
    
    <div id='loginform'>
        <h3> Log-in </h3>
        <form action="/getpass" method="post">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"> <br>
        <input type="submit" value="Submit">
        </form>
    </div>

    <div id='registerform'>
        <h3> Register </h3>
        <form action="/registerchef" method="post">
            Username: <input type="text" name="username"><br>
            Password: <input type="password" name="password"> <br>
        <input type="submit" value="Submit"></form>
    </div>
<script>

function register() {
    document.getElementById('registerform').style.display="block";
}

function login() {
    document.getElementById('loginform').style.display="block";
}


</script>
</body>

</html>