body {
	font-family: "Verdana", sans-serif;
}
/* classes */
.texts {
	text-align: center;
	/*font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;*/
}
.added-ingredients {
	text-align: center;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	margin:3%;
}
.butts {
	width: 100%;
	margin: 2%;
}
.food-divs {
	top: 0.5%;
	bottom: 0.5%;
	height:56.5%;
	width:95%;
	position: relative;
	margin: auto;
	/*background-color: red;*/
}
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 6%;
    width: 100%;
    border: none;
    text-align: center;
    font-size: 15px;
}
.active, .collapsible:hover {
    background-color: #555;
}
.content {
    padding: 0 18px;
    margin: 1%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom checkbox - CHECK BOX*/
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.container:hover input ~ .checkmark {
    background-color: #ccc;	
}
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*border stuff*/

#banner {
	width:100%;
	height:15%;
	background-color:darkgray;
	border-bottom: 2px solid dimgray;
	position:fixed;
	top:0px;
	right:0px;
	z-index: -10;
}
#logo {
	position:relative;
	height:100%;
	float:right;
	cursor: pointer;
}
#title {
	color: black;
	position: relative;
	cursor: default;
	text-align: right;
	right:2%;
	font-size: 270%;
}

/*control panel stuff*/
#ctrlpanel {
	position:fixed;
	height:100%;
	width:20%;
	background-color: white;
	top:0px;
	left:0px;
	box-shadow: 3px 0px 3px #888888;
}
#cp-banner {
	background-color: gray;
}
#ur-ingredients /*title*/{
	font-size: 180%;
	position: relative;
	margin-top: 0;
	z-index: 1;
	color: white;
}
#ingredients-img { /*pusheen image*/
	position: relative;
	display: block;
	margin-top: -10%;
    margin-left: auto;
    margin-right: auto;
	height:25%;	
}
#butt-wraps {
	display: flex;
	justify-content: center;
}
/*search ingredients div*/
#search-ingredients-div {
	/*background-color: red;*/
	display:block;
}
#ingredient-bar {
	width: 90%;
	box-sizing: border-box;
	border-radius: 5%;
	text-align: left;
	font-size: 20%;
	background-color: white;
	padding:5%;
	position: relative;
	margin: 5% 5% 5%;
}
#food-list {
	position: relative;
	/*background-color: blue;*/
	height: 80%;
	margin: 0% 3% 0% 3%;
}
#cat-ingredients-div {
	/*background-color: red;*/
	display:none;
}

/*actual page */
#big-page-div {
	background-color: #DCDCDC;
	width:80%;
	height:88%;
	right:-5px;
	bottom:-3%;
	z-index:-1;
	position: absolute;
}
#bg-img {
	opacity: 0.3;
	position: absolute;
	width:100%;
	height:auto;
	bottom:0%;
	z-index: -2;
}
#welcome-div {
	/*background-color: yellow;*/
	position: relative;
	margin: auto;
	text-align: center;
	top:15%;
}
#welcome-msg {
	font-size: 225%;
}
#food-search {
	width: 25%;
	border-radius: 5%;
	text-align: left;
	font-size: 20%;
	padding:1%;
	position: relative;
}

button {
	background-color: #bfbfbf;
    color: white;
    cursor: pointer;
    width: 8%;
    padding:2px;
    height: 2%;
    border: none;
    text-align: center;
    font-size: 12px;
    border-radius: 12px;
}

#submitbutt {
	background-color: #777;
    color: white;
    cursor: pointer;
    width: 30%;
    height: 5%;
    border: none;
    text-align: center;
    font-size: 15px;
   }

a {
	font-size: 15px;
}
a:link {
	color:#0099cc;
}

a:visited {
	color:#e6005c;
}

#mainbod {
	top:50vh;
	left:50vw;
	width:50vw;
	height:80vh;
	margin:-25vh 0 0 -25vw;
	position:absolute;
	text-align: center;
}

.mainbutt {
	display:inline-block;
	width:50%;
}