#cookbookContainer {
    position: relative;
    height: 60vh;
}

#caption {
    color: white;
    font-family: "Swanky and Moo Moo";
    font-weight: bolder;
    letter-spacing: 4px;
    font-size: 35px;
}

.cookbookSlides {
    display: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slideName {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: #222222d1;
    padding: 2px 16px;
    color: white;
    bottom: 0px;
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.slideColumn {
    float: left;
    width: 14.2857%;
}

.thumb {
    opacity: 0.6;
    width: auto;
    height: 50px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.active,
.thumb:hover {
    opacity: 1;
}

.cookbookImgs {
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.cookbookImgs:hover {
    opacity: 0.8;
}

#closeCookbookButt {
    position: fixed;
    top: 5%;
    height: 5%;
    right: 5%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 20px;
    margin-left: -90px;
    margin-right: -90px;
    color: white;
    font-weight: bold;
    font-size: 80px;
}