#cookbookContainer {
    position: relative;
}

.cookbookSlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.slideName {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
    bottom: 0px;
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.slideColumn {
    float: left;
    width: 14.2857%;
}

.thumb {
    opacity: 0.6;
    width: 100%;
}

.active,
.thumb:hover {
    opacity: 1;
}

.cookbookImgs {
    width: 100%;
}