#fridgeBG {
    background-image: url(../imgs/fridge11.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#topDoor {
    position: absolute;
    background-image: url(../imgs/topdoor.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 125px;
    height: 182px;
    left: 430px;
    top: 35px;
    cursor: pointer;
}

#botDoor {
    position: absolute;
    background-image: url(../imgs/botdoor.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 119px;
    height: 293px;
    left: 410px;
    top: 210px;
    cursor: pointer;
}

#fridgeDisplay {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: auto;
    width: 700px;
    height: 507px;
}

.contents {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.2;
    display: none;
    height: 50px;
    width: 50px;
}

#topClose, #botClose {
    position: absolute;
    left: 170px;
    width: 280px;
    cursor: pointer;
    display: none;
}

#topClose {
    height: 210px;
}

#botClose {
    top: 215px;
    height: 290px;
}

#fridge {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    
 }

#searchBar2{
    display: none;
    width: 60%;
    position: fixed;
    top: 30%;
    left: 1%;
}


#inputBox{
    position: fixed;
    top: 20%;
    left: 1%;
}

#default{
    position: fixed;
    top: 25%;
    left: 1%;
    border-radius: 20px 20px 20px 20px
}

#fridgeDelete{
    position: fixed;
    top: 25%;
    left: 8%;
    border-radius: 20px 20px 20px 20px
}

#submitbutt2{
    position: fixed;
    top: 35%;
    left: 1%;
    border-radius: 20px 20px 20px 20px
}

#fridgeinfo{
    position: fixed;
    top: 15%;
    left: 1%;
    font-family: "Swanky and Moo Moo";
    font-size: 22px;
    color: #010d01;

}

#ingredient-bar2{
    width: 45%;
}

.tooltip {
    position: absolute;
    left: 100px;
    top: 100px;
    background-color: yellow;
    opacity: 0;
    transition: opacity 1s;
    border: solid black 1px;
    padding: 10px;
    padding-top: 5px;
    border-radius: 10px;
    display: none;
    cursor: context-menu;
}