#registerform {
	display:none;
}

#loginform {
	display:block;
}

.submitButton {
	background-color:#FF4500;
    color: white;
    cursor: pointer;
    width: 100px;
    border: white solid 2px;
    text-align: center;
    padding:2px;
    height: 10%;
    font-size: 25px;
    border-radius: 12px;
    margin: 10px;
}

.submitBox {
    text-align: center;
}

.forms {
	text-align:right;
	margin:auto;
	width:250px;
}

body {
	overflow:hidden;
}

#titleLogo {
	position:relative;
	height:80%;
	left:10%;
	cursor: pointer;
	top:20%;
}