body {
/* style of the whole website*/
	font-family: "Bubblegum Sans", sans-serif;
	/*background-color: #89CFF0;*/
	overflow-x: hidden;

}
/* classes */
.texts {
	text-align: center;
	/*font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;*/
}
.added-ingredients {
/* style of search history */
	text-align: center;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	margin:3%;
}
.butts {
	width: 100%;
	margin: 2%;
}
.food-divs {
/* div of the butts */
	top: 0.5%;
	bottom: 0.5%;
	height:56.5%;
	width:95%;
	position: relative;
	margin: auto;
}
.collapsible {
/* style of collapsible butts */
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 6%;
    width: 100%;
    border: none;
    text-align: center;
    font-size: 15px;
}
.active, .collapsible:hover {
/* makes the collapsible BE COLLAPSIBLE*/
    background-color: #555;
}
.content {	
/* transition and style of text */
    padding: 0 18px;
    margin: 1%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
.container {	
/* The container of the collapsible list*/
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.container input {
/* Hide the browser's default checkbox */
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom checkbox - CHECK BOX*/
.checkmark {
	/* position and style of the checkbox */
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
.container:hover input ~ .checkmark { 
	/*when you hover at collapsible's checkmark, it changes color to darker gray*/
    background-color: #ccc;	
}
.container input:checked ~ .checkmark {
	/*when you click at collapsible's checkmark, it changes color to blue*/
    background-color: #2196F3;
}
.checkmark:after {
    content: "";	/*this line shows the checkmark to be in the box*/
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*border stuff*/

#banner {
	width:100%;
	height:15%;
	background-color:white;
	border-bottom: 2px solid dimgray;
	position:fixed;
	top:0;
	right:0;
	z-index: -5;
}
#logo {
	position:relative;
	height:100%;
	float:right;
	cursor: pointer;
}

#current-user {
	position: relative;
	height: 50%;
	float: right;
	padding-right: 50px;
	padding-top: 10px;
	right: -10%;
	margin: auto;
	font-family: Marker Felt, fantasy;
}

#logoutbutt {
	position: relative;
	height: 30%;
	float: right;
	right: 10px;
	top: 70%;
	margin: auto;
	background-color: #555555;
	width: 100px;
	font-size: 20px;
	cursor: pointer;
	font-family: Marker Felt, fantasy;
	color: #DCDCDC;
}

#title {
	color: #89CFF0;
	font-family: Marker Felt, fantasy;
	position: fixed;
	cursor: default;
	text-align: left;
	left:5%;
	font-size: 450%;
	top: -9vh;
	transition: left 0.5s;
}
#search-results{
	display: inline;
	position: relative;
	width: 100%;
}
/*control panel stuff*/
#hiddenpusheen{
	position: absolute;
	height:150px;
	left:-5%;
	transition: left 0.5s;
	cursor: pointer;
	z-index: 3;
}

#ctrlpanel {
	position:fixed;
	height:100%;
	width:50.5%;
	/*resize:horizontal;*/
	background-color: white;
	top:0;
	left:-50%;
	box-shadow: 3px 0 3px #888888;
	overflow-y: scroll;
	overflow-x: hidden;
	/*direction : rtl;*/
	transition: left 0.5s;
	z-index: 6;
	/*max-width: 40%;*/
	min-width: 20%;
}
#cp-banner {
	background-color: gray;
}
#ur-ingredients /*title*/{
	font-size: 180%;
	position: relative;
	margin-top: 0;
	/*z-index: 1;*/
	color: white;
	font-family: Marker Felt, fantasy;
	height: 200%;
}
#ingredients-img { /*pusheen image*/
	position: relative;
	display: block;
	margin-top: -10%;
    margin-left: auto;
    margin-right: auto;
	height:25%;	

}
#butt-wraps {
	display: flex;
	justify-content: center;
}
/*search ingredients div*/
#search-ingredients-div {
	/*background-color: red;*/
	display:block;
}
#ingredient-bar {
	width: 90%;
	box-sizing: border-box;
	border-radius: 5%;
	text-align: left;
	font-size: 20%;
	background-color: white;
	padding:5%;
	position: relative;
	margin: 5% 5% 5%;
}
#food-list {
	position: relative;
	/*background-color: blue;*/
	height: 80%;
	margin: 0 3% 0 3%;
	overflow-y: scroll;
	overflow-x: hidden;
}
#cat-ingredients-div {
	/*background-color: red;*/
	display: block;
}

/*actual page */
#big-page-div {
	background-color: #DCDCDC;
	width:100%;
	height:88%;
	right:-5px;
	bottom:-3%;
	z-index:-1;
	position: fixed;
	overflow-y: scroll;
	transition: width .5s;


}
#bg-img {
	opacity: 0.3;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: -2;
    object-fit: cover;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
}
#welcome-div {
	/*background-color: yellow;*/
	position: relative;
	margin: auto;
	text-align: center;
	top:15%;
	overflow: hidden;
}
#welcome-msg {
	font-size: 225%;
}
#food-search {
	width: 25%;
	border-radius: 5%;
	text-align: left;
    font-size: 20%;
	padding:1%;
	position: relative;
}
#searchHist {
	text-align: center;
}
button {
	background-color: #7575a3;
    color: white;
    cursor: pointer;
    width: 50%;
    padding:2px;
    height: 10%;
    border: none;
    text-align: center;
    font-size: 25px;
    border-radius: 12px;
    margin: 10px;
}

#submitbutt {
	background-color: #7575a3;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 2%;
    border: none;
    text-align: center;
    font-size: 15px;
   }
#clearbutt {
	background-color: #777;
	color: white;
	cursor: pointer;
	width: 100%;
	height: 2%;
	border: none;
	text-align: center;
	font-size: 15px;
}

a {
	font-size: 15px;
}
a:link {
	color:#4d0099;
}

a:visited {
	color:#e6005c;
}

#mainbod {
	top:50vh;
	left:50vw;
	width:50vw;
	height:80vh;
	margin:-25vh 0 0 -25vw;
	position:absolute;
	text-align: center;
}

.mainbutt {
	display:inline-block;
	width:50%;
	background-color:	#FF4500;
	border: white solid 2px;
}

/*test */