body {
    /* style of the whole website*/
    font-family: 'Swanky and Moo Moo';
    font-weight: bold;
    background-color: #89CFF0;
    overflow-x: hidden;
}

/* classes */
.texts {
    text-align: center;
    font-family: 'Swanky and Moo Moo';
    font-size: 25px;
    /*font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;*/
}

.added-ingredients {
    /* style of search history */
    text-align: center;
    font-family: 'Swanky and Moo Moo';
    font-size: 25px;
    margin: 1%;
    height: 1vh;
}

.butts {
    width: 100%;
    margin: 2%;
}

.food-divs {
    /* div of the butts */
    top: 0.5%;
    bottom: 0.5%;
    height: 56.5%;
    width: 95%;
    position: relative;
    margin: auto;
}

.collapsible {
    /* style of collapsible butts */
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 6%;
    width: 100%;
    border: none;
    text-align: center;
    font-size: 15px;
    height: 10%;
    border-radius: 12px;
    margin: 10px;
}

.active, .collapsible:hover {
    /* makes the collapsible BE COLLAPSIBLE*/
    background-color: #555;
}

.content {
    /* transition and style of text */
    padding: 0 18px;
    margin: 1%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.listcontainer {
    /* The container of the collapsible list*/
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.listcontainer input {
    /* Hide the browser's default checkbox */
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox - CHECK BOX*/
.checkmark {
    /* position and style of the checkbox */
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.listcontainer:hover input ~ .checkmark {
    /*when you hover at collapsible's checkmark, it changes color to darker gray*/
    background-color: #ccc;
}

.listcontainer input:checked ~ .checkmark {
    /*when you click at collapsible's checkmark, it changes color to blue*/
    background-color: #2196F3;
}

.checkmark:after {
    content: ""; /*this line shows the checkmark to be in the box*/
    position: absolute;
    display: none;
}

.listcontainer input:checked ~ .checkmark:after {
    display: block;
}

.listcontainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*border stuff*/

#banner {
    width: 100%;
    height: 15%;
    background-color: white;
    border-bottom: 2px solid dimgray;
    position: fixed;
    top: 0;
    right: 0;
}

#logo {
    position: relative;
    height: 100%;
    float: right;
    cursor: pointer;
}

#title {
    color: #89CFF0;
    font-family: Marker Felt, fantasy;
    position: fixed;
    cursor: default;
    text-align: left;
    left: 10%;
    font-size: 450%;
}

#search-results {
    display: inline;
    position: absolute;
    width: 100%;
    font-family: "Trebuchet MS";
    padding: 20px 20px;
}

.searchResultDiv {
    display: inline-block;
    height: 80vh;
    vertical-align: top;
}

.searchResultsLink {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.searchResultsImgs {
    width: 100%;
    height: auto;
    position: relative;
    left: 0;

}

/*control panel stuff*/
#ctrlpanel {
    position: fixed;
    height: 100%;
    width: 80%;
    background-color: white;
    top: 0;
    left: -80%;
    box-shadow: 3px 0 3px #888888;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: left 0.5s;
}

#cp-banner {
    background-color: gray;
}

#ur-ingredients /*title*/
{
    font-size: 180%;
    position: relative;
    margin-top: 0;
    /*z-index: 1;*/
    color: white;
    font-family: Marker Felt, fantasy;
    height: 200%;
}

#ingredients-img { /*pusheen image*/
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 25%;

}

#butt-wraps {
    display: flex;
    justify-content: center;
}

#hiddenpusheen {
    position: fixed;
    top: -2%;
    height: 12%;
    left: 0;
    transition: left 0.5s;
    cursor: pointer;
}

/*search ingredients div*/
#search-ingredients-div {
    display: block;
}

#ingredient-bar {
    width: 90%;
    box-sizing: border-box;
    border-radius: 5%;
    text-align: left;
    font-size: 20px;
    background-color: white;
    padding: 2%;
    position: relative;
    margin: 2% 2% 2%;
}

#food-list {
    position: relative;
    /*background-color: blue;*/
    height: 80%;
    margin: 0% 3% 0% 3%;
    text-align: center;
}

#cat-ingredients-div {
    /*background-color: red;*/
    display: block;
}

/*actual page */
#big-page-div {
    background-color: #DCDCDC;
    width: 100%;
    height: 88%;
    right: -5px;
    bottom: -3%;
    z-index: -1;
    position: fixed;
    overflow-y: scroll;
    transition: width .5s;

}

#bg-img {
    opacity: 0.3;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: -2;
    object-fit: cover;
    overflow: hidden;
    max-height: 100%;
    max-width: 100%;
    height: 100%;
}

#welcome-div {
    /*background-color: yellow;*/
    position: relative;
    margin: auto;
    text-align: center;
    top: 15%;
    overflow: hidden;
}

#welcome-msg {
    font-size: 225%;
    font-family: "Swanky and Moo Moo";
    font-weight: bold;
}

#welcome-user-msg {
    font-family: "Swanky and Moo Moo";
    font-weight: bold;
}

#food-search {
    width: 25%;
    border-radius: 5%;
    text-align: left;
    font-size: 20%;
    padding: 1%;
    position: relative;
}

#searchHist {
    text-align: center;
}

#submitbutt {
    background-color: #7575a3;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 2%;
    border: none;
    text-align: center;
    font-size: 15px;
    border-radius: 12px;
    margin: 10px;
    padding: 2px;
}

#clearbutt {
    background-color: #777;
    color: white;
    cursor: pointer;
    width: 30%;
    height: 2%;
    border: none;
    text-align: center;
    font-size: 15px;
    border-radius: 12px;
    margin: 10px;
    padding: 1px 5px;
}

a {
    font-size: 15px;
}

a:link {
    color: #4d0099;
}

a:visited {
    color: #e6005c;
}

#mainbod {
    top: 50vh;
    left: 50vw;
    width: 50vw;
    height: 80vh;
    margin: -25vh 0 0 -25vw;
    position: absolute;
    text-align: center;
}

.mainbutt {
    display: inline-block;
    width: 50%;
    background-color: #FF4500;
    border: white solid 2px;
    color: white;
    cursor: pointer;
    padding: 2px;
    height: 10%;
    text-align: center;
    font-size: 25px;
    border-radius: 12px;
    margin: 10px;
}

#enter-stuff {
    /*background-color: red;*/
    position: relative;
    top: 30%;
    height: 400%;
    width: 100%;
}

.saveFavBtn {
    background-color: #7575a3;
    color: white;
    cursor: pointer;
    width: 180px;
    height: 20px;
    border: none;
    text-align: center;
    font-size: 15px;
    padding: 2px;
    border-radius: 12px;
    margin: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

#current-user {
    position: relative;
    height: 50%;
    float: right;
    padding-right: 50px;
    padding-top: 10px;
    margin: auto;
    font-family: Marker Felt, fantasy;
}

#logoutbutt {
    position: absolute;
    height: 3%;
    top: 0.5%;
    left: 0.5%;
    margin: auto;
    cursor: pointer;
    font-family: Marker Felt, fantasy;
    color: #DCDCDC;
    z-index: 10;
}

.delFavBtn {
    color: #7b7bb0;
    float: right;
    font-size: 12px;
}

#searchlist {
    text-align: center;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 20vh;
}

.allbuttons {
    display: inline-block;
    width: 33%;
}

/* info box */
#infoModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

#infoBox {
    position: absolute;
    margin:auto;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    width:25%;
    height:90%;
    background-color: #edeff0;
    border-radius: 5px;
    border: #89CFF0 2px solid;
}

#closeInfo {
    margin:15px;
}

#welcomeBox {
    background-color: #89CFF0;
    width:100%;
    height:9%;
}

#welcomeText {
    position:absolute;
    margin-left:20px;
    margin-top:14px;
    font-size: 16px;
    color:white;
    font-family: "Trebuchet MS";
}

#textBox {
    overflow:auto;
    width:100%;
    height:91%;
}

.infoText {
    margin:20px;
    font-family: "Trebuchet MS";
}